server:
  # add a and ptr records
  {% for zone in redirects %}
  # forwarding 443 to {{ zone.redirected_ip }}, {{ zone.redirected_port }}, {{ zone.redirected_name }}
  local-data: "{{ zone.requested_url }}. A {{ zone.requested_ip }}"
  local-data-ptr: "{{ zone.requested_ip }} {{ zone.requested_url }}."

  {% endfor %}
